ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
li {
  padding: 1.5rem 2.5rem;
  background-color: var(--main-header-color);
  color: whitesmoke;
}
