.container {
  display: flex;
  justify-content: center;
}
#message {
  width: 20rem;
  height: 10rem;
}
form {
  margin-right: 9rem;
}
.link-logo {
  width: 3rem;
}
.x-logo {
  width: 4.2rem;
}
.social-links {
  display: flex;
  justify-content: space-around;
}
