<div class="container">
  <form action="">
    <h1>Contactez nous par email</h1>
    <div class="input-row">
      <label for="email"> email </label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="input-row">
      <label for="message"> message </label>
      <input type="email" name="email" id="message" />
    </div>
  </form>
  <div class="social-contact">
    <h1>Rejoignez nous sur nos réseaux</h1>
    <div class="social-links">
      <a href="https://www.instagram.com/"
        ><img
          class="link-logo"
          src="../../../assets/images/instagram-icon.svg"
          alt=""
      /></a>
      <a href="https://www.instagram.com/"
        ><img
          class="link-logo"
          src="../../../assets/images/pinterest.svg"
          alt=""
      /></a>
      <a href="https://www.instagram.com/"
        ><img
          class="link-logo x-logo"
          src="../../../assets/images/twitter-x-seeklogo-3.svg"
          alt=""
      /></a>
      <a href="https://www.instagram.com/"
        ><img
          class="link-logo"
          src="../../../assets/images/facebook.svg"
          alt=""
      /></a>
    </div>
  </div>
</div>
