<div class="container">
  <div class="form-area">
    <h1>Contactez nous par email</h1>
    <form action="">
      <div class="input-row">
        <label for="email"> Email </label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="input-row">
        <label for="message"> Message </label>
        <input type="email" name="email" id="message" />
      </div>
      <div class="input-row">
        <button class="send-button">Envoyer</button>
      </div>
    </form>
  </div>
  <div class="social-contact">
    <h1>Rejoignez nous sur nos réseaux</h1>
    <div class="social-links">
      <a href="https://www.instagram.com/"
        ><img
          class="link-logo"
          src="../../../assets/images/instagram-icon.svg"
          alt=""
      /></a>
      <a href="https://www.instagram.com/"
        ><img
          class="link-logo"
          src="../../../assets/images/pinterest.svg"
          alt=""
      /></a>
      <a href="https://www.instagram.com/"
        ><img
          class="link-logo x-logo"
          src="../../../assets/images/twitter-x-seeklogo-3.svg"
          alt=""
      /></a>
      <a href="https://www.instagram.com/"
        ><img
          class="link-logo"
          src="../../../assets/images/facebook.svg"
          alt=""
      /></a>
    </div>
  </div>
</div>
