.container {
  display: flex;
  justify-content: center;
}
#message {
  width: 100%;
  height: 10rem;
}
form {
  margin-right: 9rem;
  margin-top: 2%;
  padding: 3%;
  width: 30rem;
  background-color: #e09ca9;
}
.input-row {
  display: grid;
}
.link-logo {
  width: 3rem;
}
.x-logo {
  width: 4.2rem;
}
.social-links {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
#message,
#email {
  border: none;
  border-left: solid 1.5px #fabfcb;
  border-bottom: solid 1.5px #fabfcb;
  background-color: transparent;
  margin-bottom: 3%;
  margin-top: 3%;
}
.send-button {
  margin-left: 60%;
  width: 40%;
  height: 2rem;
  border: none;
  background-color: black;
}
.send-button:hover {
  margin-left: 60%;
  width: 40%;
  height: 2rem;
  border: none;
  background-color: #e09ca9;
}
