<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img
        src="../../../assets/images/itzel-gonzalez-lara-wXQq3F6sEik-unsplash.jpg"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/jodene-isakowitz-hvqHtZqNMeI-unsplash.jpg"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/patricia-hellinger-Y14F-1vzVds-unsplash.jpg"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/itzel-gonzalez-lara-wXQq3F6sEik-unsplash.jpg"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/photo-1559006045-d34d415b2cff.avif"
        alt=""
      />
    </div>

    <div class="slide">
      <img
        src="../../../assets/images/photo-1587729927069-ef3b7a5ab9b4.avif"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/photo-1604654894610-df63bc536371.avif"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/photo-1604654894611-6973b376cbde.avif"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/photo-1610992015762-45dca7fa3a85.avif"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/photo-1612887390768-fb02affea7a6.avif"
        alt=""
      />
    </div>
  </div>
</div>
